@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  
  p {
    font-size: 1.6rem;
  }
  
  h1 {
    font-size: 6rem;
  }
}

.app {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  color: white;
  background: url('./Assets/default.jpeg') no-repeat center center/cover;

  .search {
    text-align: center;
    padding: 1rem;
    
    input {
      padding: .7rem 1.5rem;
      font-size: 1.2rem;
      border-radius: 25px;
      border: 1px solid rgba(255, 255, 255, 0.9);
      background: rgba(255, 255, 255, 0.1);
      color: white;

      &::placeholder {
        color: white;
      }
    }

    .search-icon {
      position: relative;
      right: 2rem;
      top: 0.3rem;
    }
  }

  .container {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      width: 100%;
      margin: 1rem auto;
      position: relative;
      padding: 1rem;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.2);
    }

    .description {
      position: absolute;
      top: 40%;
      right: 0;
      transform: rotate(270deg);
    }

    .toggle {
      .button{
        position: relative;
        top: auto;
        right: auto;
        margin-top: 10px;
        font-size: 1em;
        padding: 10px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        cursor: pointer;
        
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 100%;
      margin: 1rem auto;
      padding: 1rem;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.2);

      .bold-text {
        font-weight: 800;
      }
    }
  }
}



